.about{
     background-image: url('https://i.postimg.cc/xjFnRFMY/pexels-francesco-ungaro-1525041-1.jpg'); 
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     height: 450px;
}

.heading{
    font-size: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 200px;
}
.card__style{
    width: 100%;
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    margin-bottom: 60px;
    margin-top: 30px;
    
}
.about_card{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;

border: 1px solid rgba( 255, 255, 255, 0.18 );

}