*{
    margin: 0;
    padding: 0;
}
.add_form_head{
    background-color: rgb(242, 245, 248);
    height:auto;
}
.container__wrapper{
    margin-top: 90px;
    margin-bottom: 38px;
    width: 700px;
}
.formInput{
    width: 100%;
}
@media screen and (max-width: 600px) {
    .admission_school{
        display: flex;
        justify-content: center;
        align-items: center;
    }

.label__style{
    font-size: 11px;
}
.admission_schoolimag{
   
    font-size: 75px;
   
}
.admission_schoolimage{
    /* padding: 200px; */
    font-size: 55px;
}
.formInput{
    width: max-content;
}
}